body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

header {
  color: #222;
  background-color: #fff;
  
  .btn {
    margin-top: 1.25em;
  }
}


/* STRIPS */

.strip {
  background-color: #fff;
  text-align: center;
}
.strip-pad {
  padding: 2.5em 0;
}

.strip-ltgray {
  background-color: #f5f5f5;
}
.strip-gray {
  background-color: #d7d7d7;
}
.strip-dkgray {
  background-color: #222;
  color: #f5f5f5;
}

.strip-media {
  padding-left: 0;
  padding-right: 0;
}

.strip-content {
  padding: 2em;
  
  @media (min-width: 850px) {
    padding: 3em;
  }
  
  @media (min-width: 900px) {
    padding: 4em;
  }
  
  @media (min-width: 992px) and (max-width: 1023px) {
    padding: 2em 4em;
  }
  
}

.strip-content.right {
  text-align: right;
}
.strip-content.left {
  text-align: left;
}
.strip-content h3 {
  margin-top: 0;
  font-size: 44px;
  
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 22px;
  }
}
.strip-content p {
  font-size: 18px;
}


/* JUMBOTRON */

.jumbotron {
  margin-bottom: 0;
  background: transparent url("../img/business-man.jpg") no-repeat right top;
  background-size: cover;
  border-radius: 0 !important;
  
  @media (min-width: 768px) {
    padding: 100px 0;
    
  }  
  @media (min-width: 1200px) {
    padding: 150px 0;
    
  }
  
  
  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    
    font-size: 2em;
    margin-top: 50%;
    background-color: rgba(255,255,255,.8);
    padding: .45em;
    
    @media (min-width: 768px) {
      font-size: 3.5em;
      width: 410px;
      margin-top: 0;
      background-color: transparent;
      padding: 0;
    }
    
    @media (min-width: 992px) {
      width: 540px;
    }
    
    
  }
}


/* STEPS */

.steps i {
  text-align: center;
  display: block;
  font-size: 6em;
    color: #20C71C;
}

.steps h2 {
  margin-bottom: 1em;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
}

.steps h3 {
  text-align: center;
  display: block;
}

//.steps {
//  .signup {
//    color: #20C71C;
//  }
//  .preapproved {
//    color: #0F59AE;
//  }
//  .getfunded {
//    color: pink;
//  }
//}



/* MISC */

.revolvingcreditlines {
  font-size: 26px;
  font-style: italic;
  width: 60%;
  margin: 0 auto;
  line-height: 1.5em;
}



.vertical-align {
  display: flex;
  align-items: center;
}


/* HELPERS */
.emphasis {
  color: #0F59AE;
  font-weight: bold;
}



/* CTA */
.cta-wrap {
  padding: 3em 2em;
  h2 {
    margin: 0 0 1em;
  }
}

/* FORM */
.form-wrap {
  
  h3, p {
    text-align: center;
  }
  
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  
    @media (min-width: 768px) {
      font-size: 34px;
    }
  }
  
  p {
    font-size: 16px;
  
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  
  @media (min-width: 768px) {
    padding: 3em 0;
  }
  
}
